<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <h1>Expense Tracker</h1>

    <div class="container">
        <div class="box"><form action="/add" method="post">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" required>
    
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" required>
    
            <label for="category">Category</label>
            <input type="text" id="category" name="category" required> <br>
    
            <button type="submit">Add Transaction</button>
        </form></div>
        <div class="box"><h2>Transactions:</h2>
            <ul>
                <% transactions.forEach(transaction => { %>
                    <li><%= transaction.description %> - <%= transaction.amount %> - <%= transaction.category %></li>
                <% }); %>
            </ul></div>
    </div>
    
</body>
</html>
